.item {
  position: relative;
	max-width: 25rem;
  width: 25rem;
  min-width: 20rem;
	min-height: 4.5rem;
  height: auto;
  background-color: var(--black-40);
  color: var(--black);
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

.small {
  min-height: 2.5rem;
  width: 10rem;
}

@media (max-width: 48rem){
  .item {
    min-height: 2.5rem;
    max-width: 15rem;
  }
}


.active {
  background-color: var(--orange);
  color: var(--orange);
}

.disabled {
  color: var(--black-40);
}

.inside {
  position: absolute;
  padding: 0 2rem;
  align-items: center;
  display: flex;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}


.prefix {
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 0.5rem;
}