.kebab {
  display: flex;
  align-items: center;
}

 

.kebabLine {
  position: relative;
  border-top: 2px solid var(--black-40);
  width: 100%;
  min-width: 1rem;
  flex: 1;
}

.kebabLine.active {
  border-top: 2px solid var(--orange);
} 

/* .kebabLine::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 2px solid var(--black-40);
  width: 100%;
  transform: translateY(-50%);
}

.active::before {
  border-top: 2px solid var(--orange);
} */
