:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-display: swap;

  --orange: #FF8B37;
  --orange-5: #FFF3EB;
  --white: #fff;
  --black: #1C1C21;
}

* {
  margin: 0;
  padding: 0;
}


