:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-display: swap;

  --orange: #FF8B37;
  --orange-5: #FFF3EB;
  --white: #fff;
  --black: #1C1C21;
  --black-5: #F5F5F7;
  --black-40: #D0D0D8;
}

* {
  margin: 0;
  padding: 0;
}


